<% layout("layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="alert alert-danger col-6 mx-auto text-center" role="alert">
      <span class="material-symbols-outlined">
        error
        </span>
        <h4><%= message %></h4>
        <p>Please try again later or contact support if the issue persists.</p>
      </div>
  </div>
</body>
